body
{
	font: Arial, sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 18px;
}
h1
{
	text-align:center;
}

#menu
{
	position: absolute;
	margin-top: 0%;
	margin-left: 0%;
}

#meio
{
	position: absolute;
	margin-top: 0%;
	margin-left: 20%;
	margin-right: 0%;
}