{% extends 'base.html' %}

{% block cabecalho %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/style.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/bootstrap.css">
<script type="text/javascript" src="{{ MEDIA_URL }}/js/bootstrap.js"></script>
{% endblock %}

{% block corpo %}
<p>Projeto salvo com sucesso</p>
<p><a href="{% url 'proagrupar.views.projeto' nr_projeto=proj.id%}">{{ proj.titulo }} - {{ proj.professor }} - {{ proj.campus }}</a></p>
<a class="btn" href="javascript:window.history.go(-1)"><i class="icon-arrow-left"></i> Voltar</a>
<a class="btn" href="{% url 'proagrupar.views.inicio' %}"><i class="icon-home"></i> Início</a>

{% endblock %}
