{% extends 'base.html' %}

{% block cabecalho %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/style.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/bootstrap.css">
<script type="text/javascript" src="{{ MEDIA_URL }}/js/bootstrap.js"></script>
{% endblock %}

{% block corpo %}
<p>Relatorios atualizados:</p>
<ul>
	{% for prof in projetos %}
		<li>
			<a href="{% url 'proagrupar.views.relatorioAtualizado' nr_relatorio=relatorio.id %}">{{ relatorio.projeto }}</a>
		</li>
	{% empty %}
		<li>Sem relatórios atualizados</li>
	{% endfor %}
</ul>

{% endblock %}
