{% extends 'base.html' %}

{% block cabecalho %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/style.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/bootstrap.css">
<script type="text/javascript" src="{{ MEDIA_URL }}/js/bootstrap.js"></script>
{% endblock %}
{% block corpo %}

<h1>Apagar projeto</h1>

<form action="." method="post">
	{% csrf_token %}
	<h2>{{ projeto.titulo }}</h2>
	<p>{{ projeto.professor }} - {{ projeto.get_campus_display }}</p>
	<p><button type="submit">Remover</button> ou <a href="{% url 'proagrupar.views.inicio' %}">Cancelar</a></p
</form>

{% endblock %}

