{% extends 'base.html' %}

{% block cabecalho %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/style.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/bootstrap.css">
<script type="text/javascript" src="{{ MEDIA_URL }}/js/bootstrap.js"></script>
{% endblock %}

{% block corpo %}
	<h1>{{ usuario.nome }}</h1>
	<a class="btn" href="/editaUsuario/{{ usuario.id }}"><i class="icon-pencil"></i> Editar</a><br>
	<p>Tipo: {{ usuario.get_tipo_display }}</p>
	<p>Campus: {{ usuario.get_campus_display }}</p>
	<p>Email: {{ usuario.email }}</p>
	<p>Telefone: {{ usuario.telefone }}</p>

	<a class="btn" href="javascript:window.history.go(-1)"><i class="icon-arrow-left"></i> Voltar</a>
	<a class="btn" href="{% url 'proagrupar.views.inicio' %}"><i class="icon-home"></i> Início</a>
{% endblock %}
